header{
    background-color: #fafadcd7;
}
.intro-01{
    font-weight: 700;
    font-size: 50px;
    color: #363958;
}
.intro-02{
    font-weight: 700;
    font-size: 50px;
    color: #76c27e;
}
.button{
    background-color: #2c1a4d;
    padding-left: 16px;
    padding-right: 16px;
}
.button img{
    width: 25px;
    height: 25px;
}
.btn-text{
    color: white;
}
        /* second section */

h3{
    font-size: 20px;
}
.penguin-card-footer{
    background-color: white;
    border: 0;
}
.price-tag{
    color: #76c27e;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
}